<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentDb"
             connectionString="Server=localhost;Port=3307;Database=StudentManagement;Uid=root;Pwd=123456;"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>